/* About */

.main-container-about {
    margin: 0 auto;
    width: 62%;
    min-height: 90vh;
}

/* AboutSIdeImage */

.aboutSideImageContainer {
    position: relative;
    transition: all 0.4s ease-in-out;
}

.aboutSideImage {
    filter: brightness(1.1) contrast(1.2);
    cursor: pointer;
}

article img:first-child {
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(233, 233, 233, 0.5);
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.aboutSideImageContainer img:last-child {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(5%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.aboutSideImageContainer:hover img:first-child {
    transform: perspective(250px) rotateX(10deg) translateY(-2%) translateZ(0);
}

.aboutSideImageContainer:hover img:last-child {
    opacity: 1;
    transform: translateY(5%);
    filter: brightness(1.1) contrast(1.2);
    cursor: pointer;
}

/* chromo */
.chromo {
    height: 30rem;
    width: 85%;
    margin: 3rem auto;
}