.inner-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(28, 184, 236, 0.936) 0px 1px 2px 0px, rgba(190, 203, 213, 0.722) 0px 2px 6px 2px;
    height: 10vh;
    z-index: 1;
}

#nav-links {
    margin-left: 20rem;
}

.links-nav:hover {
    transition: all 0.2s ease-in-out;
    color: var(--light-color);
}

#logo {
    cursor: pointer;
}

#logo:hover {
    background: var(--extra-light-color);
}

nav ul {
    display: flex;
    justify-content: flex-end;

    /* gap: 3.2rem; */
    color: #fff;

    & li a {
        color: #fff;
    }
}

.ham-menu {
    display: none;
}

.active {
    background-color: #fff;
    color: #1acec8;
}

@media screen and (max-width: 768px) {

    .navbar {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .nav-logo {
        margin-left: 0rem;
    }


    .menu-web {
        display: none;
        margin-right: 0rem;
    }

    .ham-menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-mobile {
        position: absolute;
        top: 4.8rem;
        left: 0;
        background-color: #020202;
        width: 100%;
        box-shadow: rgba(4, 40, 40, 0.166) 0px 14px 28px;
        transition: all 0.8s ease-in-out;
        z-index: 3;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        padding: 1rem 2.5rem;


        & li:first-child {
            margin-top: 0.5rem;
        }

        & li:last-child {
            margin-bottom: 0.5rem;
        }
    }
}